<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faruq.BiangFutsalApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsActivity" />
        <activity
            android:name=".NewsWebView"
            android:label="@string/title_activity_news_web_view"
            android:parentActivityName=".NewsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.faruq.BiangFutsalApp.NewsActivity" />
        </activity>
        <activity android:name=".FirstPageActivity" />
        <activity android:name=".AccountActivity.LoginActivity" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".AccountActivity.SettingActivity" />
        <activity android:name=".TambahLapanganActivity" />
        <activity android:name=".AccountActivity.Peringatan"></activity>
    </application>

</manifest>